.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

  mat-chip {
    max-width: 200px;
  }

 .formato{
  height: 100%;
  width: 50%;
  
}

.lateral {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 250px;
}

.cabecera {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.cuerpo {
  background-color: rgb(238, 238, 238);
  position: absolute;
  top: 50px;
  left: 250px;
  right: 0;
  bottom: 50px;
}

.pie {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}


